In [9]:
#import dependencies
import pandas as pd
from pathlib import Path

In [10]:
#import files
dailyweatherdatafile = Path("Resources/daily_weather_data.csv")
globalsustainabledatafile = Path("Resources/global-data-on-sustainable-energy (1).csv")

In [11]:
#load files into Pandas
dailyweatherdata = pd.read_csv(dailyweatherdatafile)
globalsustainabledata = pd.read_csv(globalsustainabledatafile)

In [12]:
dailyweatherdata.head()

,date,country,city,Latitude,Longitude,tavg,tmin,tmax,wdir,wspd,pres
0,21-07-2018,Abkhazia,Sukhumi,43.001525,41.023415,23.4,20.9,25.5,329.0,9.3,1009.6
1,22-07-2018,Abkhazia,Sukhumi,43.001525,41.023415,23.5,21.0,25.7,337.0,9.4,1010.0
2,23-07-2018,Abkhazia,Sukhumi,43.001525,41.023415,23.5,21.1,25.5,41.0,8.2,1007.7
3,24-07-2018,Abkhazia,Sukhumi,43.001525,41.023415,24.3,20.8,27.1,10.0,9.3,1004.4
4,25-07-2018,Abkhazia,Sukhumi,43.001525,41.023415,26.5,22.7,30.0,9.0,9.7,1002.0

In [13]:
#clean weather data by deleting columns and renaming them
dailyweatherdata = dailyweatherdata.drop(dailyweatherdata.columns[[2,3,4,6,7,8,9,10]], axis=1)
dailyweatherdata.rename(columns = {'country':'Country', 'tavg':'Average Temp'}, inplace=True)
dailyweatherdata.head()

         date   Country  Average Temp
0  21-07-2018  Abkhazia          23.4
1  22-07-2018  Abkhazia          23.5
2  23-07-2018  Abkhazia          23.5
3  24-07-2018  Abkhazia          24.3
4  25-07-2018  Abkhazia          26.5

In [14]:
#average weather for each country (2018-2022)
averageweatherbycountry = dailyweatherdata.groupby(["Country"])["Average Temp"].mean()
avtempsummary = pd.DataFrame({"Average Temp": averageweatherbycountry})

avtempsummary

                   Average Temp
Country
Abkhazia              15.157507
Aland Islands          7.327085
Albania               16.811633
Algeria               19.602923
American Samoa        27.242980
...                         ...
Vatican City          16.916103
Venezuela             26.599482
Vietnam               24.450946
Wallis and Futuna     27.226132
Western Sahara        20.446418

[194 rows x 1 columns]

In [15]:
globalsustainabledata.head()
global2019 = globalsustainabledata[globalsustainabledata["Year"] == 2019]
global2019 = global2019.drop(global2019.columns[[1,2,3,5,12,14,15,16,17,18,19,20]], axis=1)
global2019.rename(columns = {'Entity':'Country', 
                             'Renewable-electricity-generating-capacity-per-capita': 'Renewable electricity generating Capacity Per Person',
                             'Value_co2_emissions_kt_by_country': 'co2 Emissions (metric tons per capita)'}, inplace=True)

global2019

,Country,Renewable electricity generating Capacity Per Person,Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),co2 Emissions (metric tons per capita)
19,Afghanistan,9.58,18.51,0.18,0.0,0.89,83.177570,802.61255,6079.999924
40,Albania,NaN,NaN,0.00,0.0,5.17,100.000000,11585.55500,4829.999924
61,Algeria,15.93,0.16,75.85,0.0,0.84,1.095319,16259.05300,171250.000000
82,Angola,108.71,54.69,4.38,0.0,11.02,71.558440,3667.42380,25209.999080
103,Antigua and Barbuda,85.47,0.91,0.33,0.0,0.01,2.941176,33027.51600,519.999981
...,...,...,...,...,...,...,...,...,...
3563,Uzbekistan,57.96,1.57,53.64,0.0,6.47,10.763600,16212.22100,116709.999100
3584,Vanuatu,38.93,31.86,0.05,0.0,0.02,28.571428,3154.47170,209.999993
3605,Yemen,8.57,3.11,2.93,0.0,0.48,14.076246,1475.98520,NaN
3626,Zambia,142.11,84.50,2.05,0.0,12.62,86.025900,2983.88160,6800.000191
3647,Zimbabwe,81.40,81.50,3.66,0.0,4.58,55.582527,3003.65530,11760.000230

In [17]:
#merge two dataframes together by Country, thus adding average temp
projectdata = pd.merge(avtempsummary, global2019, how="left", on="Country")
projectdata = projectdata.dropna()
projectdata = projectdata.set_index(["Country"])
projectdata

,Average Temp,Renewable electricity generating Capacity Per Person,Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),co2 Emissions (metric tons per capita)
Country,,,,,,,,,
Algeria,19.602923,15.93,0.16,75.85,0.00,0.84,1.095319,16259.0530,171250.000000
Angola,25.645695,108.71,54.69,4.38,0.00,11.02,71.558440,3667.4238,25209.999080
Antigua and Barbuda,26.737059,85.47,0.91,0.33,0.00,0.01,2.941176,33027.5160,519.999981
Argentina,17.568195,283.38,10.74,90.56,7.97,34.63,31.991589,20725.1680,168100.006100
Azerbaijan,15.669920,128.51,1.62,22.91,0.00,1.69,6.869919,17546.7810,35509.998320
...,...,...,...,...,...,...,...,...,...
Tunisia,19.594040,33.01,12.20,19.73,0.00,0.82,3.990268,10128.1420,29909.999850
Turkmenistan,19.456046,0.20,0.06,21.18,0.00,0.00,0.000000,57961.0550,72870.002750
United Arab Emirates,28.996275,196.40,0.67,125.85,0.00,3.80,2.930968,134878.3900,188860.000600
Uruguay,16.615817,1077.57,60.76,1.89,0.00,14.16,88.224304,19985.0100,6489.999771
Vanuatu,24.440367,38.93,31.86,0.05,0.00,0.02,28.571428,3154.4717,209.999993